@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root{
    --fonte-principal: 'Inter';
    --cor-fundo: #363D55;
    --cor-fundo-secundario: #303062;
    --cor-principal: #ffffff;
    --cor-secundario: #dfe3ee;
}
*{
    margin: 0;
    padding: 0;
}
body{
background-color: var(--cor-fundo);
color: var(--cor-principal);
}
.menu{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: var(--cor-fundo-secundario);
    width: 100%;
    align-items: center;
}
.menu__logo{
    width: 3.75em;
    height: 3.75em;
    margin-left: 2em;
}
.menu__titulo{
    text-align: center;
}
.menu__nav{
    text-align: right;
}
.menu__lista{
    list-style-type: none; 
    display: flex;
    float: right;
    margin-right: 2em;
}
.menu__item{
    margin-left: 2em;
}
.menu__item a{
    text-decoration: none;
    color: var(--cor-principal);
}
.menu__item{
    margin-left: 2em;
}
.menu__item-active a{
    color: var(--cor-principal)    
}
.principal__main{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    text-align: center;
}
.principal__titulo{
    font-weight: 700;
    font-size: 48px;
}
.principal__noticia{
    background-color: var(--cor-fundo-secundario);
    border-right: 1px solid white;
    display: block;
    width: 100%;
}
.principal__imagem{
    height: 350px;
    width: 500px;
}


